
button{
    background-color: green;
    padding: 5px;
}
span{
    color: red;
}
body{
    background-repeat: repeat;
    background-image: url(2.png);
    nav-right:500px ;
    background-position: center;
    background-size: cover;  
}
a{
    text-decoration: none;
    color:darkgrey;
    padding: 40px 50px; 
       
}
.header_nav{
    background-color: brown;
    margin:10px;
    padding: 20px;
}
h1{
    margin-left: 250px;
    font-size: 60px;
}
.header_cta{
    margin-left: 1050px;
}
h3{
    margin-left: 350px;
    font-size:30px ;
}
p{
    margin-left: 50px;
}
.Aboutusimage{
    margin-left: 50px;
}
h2{
    margin-left:500px ;
    font-size: 40px;
}
