
button{
    background-color: green;
}
span{
    color: greenyellow;
}
body{
    background-repeat: repeat;
    background-image: url(2.png);
    nav-right:500px ;
    background-position: center;
    background-size: cover;  
}
a{
    text-decoration: none;
    color:darkgrey;
    padding: 40px 50px; 
       
}